.body {
  width: 100vw;
  height: 60vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.custom-field {
  position: relative;
  padding-top: 20px;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 15px;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 8px;
  width: 280px;
  outline: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #222;
}

/* ONE */
.custom-field.one input {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}



.custom-field.one input:focus {
  border-color: #1169FF;
  transition-delay: 0.1s
}

.custom-field.one input.dirty{
  border-color: #FF0000;
  transition-delay: 0.1s
}

.custom-field.one input:valid{
  border-color:  #23C5AC;
  transition-delay: 0.1s
 
}

.icon{
  position: absolute;
  border-radius: 3.89px;
  top: 37px;
  right: 28px;
  color: rgb(245, 233, 233);
  font-size: 20px;
  font-weight: 100;
}
/* .icon .fa-cc-visa{
  color: #1169FF;
} */


.custom-field.one input:valid + .placeholder
{
  top: 20px;
  font-size: 10px;
  color: #23C5AC;
  background: #fff;
}

.custom-field.one input.dirty + .placeholder
{
  top: 20px;
  font-size: 10px;
  color: #FF0000;
  background: #fff;
}

.custom-field.one input:focus + .placeholder {
  top: 20px;
  font-size: 10px;
  color: #1169FF;
  background: #fff;
}

.button{
  width: 250px;
  margin: 50px auto;
}

.btn{
  border: none;
  margin-top: 20px;
  background: #2AF5D6;
  padding: 12px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.btn a{
  text-decoration: none;
  width: 250px;
  color: #070C11;
}

.alert-danger small{
  color: red;
}

