*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.navbar{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 20px;
  background: #111052;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: white;
}
p{
  color: #555;
}
.navcontainer{
  width: 100%;
}
