<div class="select-payment">
  <h2>
    Top up My FasterPay Account
  </h2>
  <p><strong>Choose top up amount</strong></p>
</div>
<div class="form">
  <label class="custom-field one">
    <input type="number" required/>
    <span class="placeholder">Top Up amount</span>
    <span class="usd">USD</span>
  </label>
  <select class="country">
    <option  value="{{countries.code}}" >
      {{countries.country}}
    </option>
  </select>
</div>
<div (click)="next()" class="next-icon">
  <i class="fas fa-angle-double-right"></i>
</div>